<template>
  <div class="page-container md-layout-column">
    <md-toolbar class="md-primary">
        <md-badge md-content="3">
            <md-button class="md-icon-button" @click="showNavigation = true">
                <md-icon>menu</md-icon>
            </md-button>
        </md-badge>
        <span class="md-title">Prueba Tecnica GradiWeb</span>
    </md-toolbar>
    <md-drawer :md-active.sync="showNavigation" md-swipeable>
        <md-toolbar class="md-transparent" md-elevation="0">
            <span class="md-title">Menú Principal</span>
        </md-toolbar>
        <md-list v-if="this.login === false">
            <md-list-item>
                <md-icon>login</md-icon>
                <a class="md-list-item-text" @click="redirectLogin()">Inicio de sesión</a>
            </md-list-item>
            <md-list-item>
                <md-icon>how_to_reg</md-icon>
                <a class="md-list-item-text" @click="redirectRegister()">Registrarse</a>
            </md-list-item>
        </md-list>
        <md-list v-else>
            <md-list-item>
                <md-icon>directions_car</md-icon>
                <a class="md-list-item-text" @click="redirectCar()">Administración de vehículos</a>
            </md-list-item>
            <md-list-item>
                <md-icon>supervised_user_circle</md-icon>
                <a class="md-list-item-text" @click="redirectClient()">Administración de clientes</a>
            </md-list-item>
            <md-list-item>
                <md-icon>code</md-icon>
                <a class="md-list-item-text" @click="redirectLogica()">Prueba Lógica</a>
            </md-list-item>
        </md-list>
    </md-drawer>
    <md-content>
    </md-content>
  </div>
</template>

<script>
    export default {
        name: 'Prueba',
        data: () => ({
          showNavigation: false,
          showSidepanel: false
        }),
        props: ['login', 'username'],
        methods: {
            redirectLogin(){
                window.location = '/login'
            },
            redirectRegister(){
                window.location = '/register'
            },
            redirectCar(){
                window.location = '/car'
            },
            redirectClient(){
                window.location = '/client'
            },
            redirectLogica(){
                window.location = '/logica'
            }
        }
    }
</script>
