<template>
    <section class="container">
        <article>
            <!--<md-card>
                <md-card-header>
                    <div class="md-title">Gestión de acciones</div>
                    <br><br>
                </md-card-header>
                <md-card-content>
                    <form novalidate @submit.prevent="validateForm()" id="Form">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <label class="labelProduct">Nombre en español</label>
                                <input type="text" name="Nombre en español" v-model="nameEspanish" class="form-control crctr15 inputProduct" maxlength="15" v-validate="'required'">
                                <div>
                                    <span class="spanError text-danger errorValidation">{{ errors.first('Nombre en español') }}</span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="labelProduct">Nombre en ingles</label>
                                <input type="text" v-model="nameEnglish" name="Nombre en ingles" class="form-control crctr15 inputProduct" maxlength="15" v-validate="'required'">
                                <div>
                                    <span class="spanError text-danger errorValidation">{{ errors.first('Nombre en ingles') }}</span>
                                </div>
                            </div>
                            <div class="col-md-4 form-group">
                                <label class="labelProduct">Nombre en portugues</label>
                                <input type="text" v-model="namePortugues" name="Nombre en portugues" class="form-control crctr15 inputProduct" maxlength="15" v-validate="'required'">
                                <div>
                                    <span class="spanError text-danger errorValidation">{{ errors.first('Nombre en portugues') }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label class="labelProduct">Observación</label>
                                <textarea v-model="observacion" name="observación" class="form-control crctr250 inputProduct" maxlength="250"></textarea>
                            </div>
                        </div>
                        <div class="row buttonsActionsProduct">
                            <div class="col-md-12">
                                <button class="btn btn-danger" type="button" @click="clearAction()"><i class="far fa-trash-alt" ></i> Cancelar</button>
                                <button class="btn btn-success"><i class="far fa-paper-plane"></i> Guardar información</button>
                            </div>
                        </div>
                    </form>
                </md-card-content>
            </md-card>-->
            <div class="row">
                <div class="col-md-12">
                     <md-table v-model="table" md-sort="mark" md-sort-order="asc" md-card md-fixed-header>
                        <md-table-toolbar>
                            <div class="md-toolbar-section-start">
                                <h4 class="md-title">Listado de vehículos</h4>
                            </div>
                            <md-field md-clearable class="md-toolbar-section-end">
                                <md-input placeholder="Busqueda por marca..." v-model="search" @keypress="searchOnTable" />
                            </md-field>
                        </md-table-toolbar>
                        <md-table-empty-state
                            md-label="No se encontraron vehículos"
                            :md-description="'No se encontro resultados con el filtro utilizado, intente con un una nueva busqueda o creé un nuevo Vehiculo'">
                            <md-button class="md-primary md-raised" @click="newCar">Crear nuevo vehículo</md-button>
                        </md-table-empty-state>
                        <md-table-row slot="md-table-row" slot-scope="cars">
                            <md-table-cell md-label="#Placa" md-sort-by="licensePlate" md-numeric>{{ cars.item.licensePlate }}</md-table-cell>
                            <md-table-cell md-label="Marca" md-sort-by="mark">{{ cars.item.mark }}</md-table-cell>
                            <md-table-cell md-label="Tipo" md-sort-by="typeCar">{{ cars.item.typeCar }}</md-table-cell>
                            <md-table-cell md-label="Descripción" md-sort-by="description">{{ cars.item.description }}</md-table-cell>
                            <md-table-cell md-label="Acciones" md-sort-by="acciones">
                                <md-button class="md-primary" @click="updateAction(cars.index)">{{cars.index}}Editar</md-button>
                                <md-button class="md-accent" @click="deleteAction(cars.item.id,cars.index)">{{cars.index}}Eliminar</md-button>
                            </md-table-cell>
                        </md-table-row>
                    </md-table>
                </div>
            </div>
        </article>
    </section>
</template>
<script>
    const toLower = text => {
        return text.toString().toLowerCase()
    }
    const searchByName = (items, term) => {
        if (term) {
            return items.filter(item => toLower(item.mark).includes(toLower(term)))
        }
        return items
    }
    export default {
        /*Defino los datos de la gestión*/
        data: function(){
            return {
                nameEspanish:"",
                nameEnglish: "",
                namePortugues: "",
                descripcion: "",
                id: 0,
                search: null,
                table: [],
            }    
        },
        props: ['cars', 'list', 'edit', 'clients'],
        methods: {
            /*Valido el formulario mediante la variable edit*/
            validateForm(){
                if (this.nameEspanish === ''){
                    Toast.fire({
                        title: "Verificar",
                        text: "El campo Nombre en español se encuentra vació",
                        icon: "warning"
                    })
                }else if (this.nameEnglish === ''){
                    Toast.fire({
                        title: "Verificar",
                        text: "El campo Nombre en ingles se encuentra vació",
                        icon: "warning"
                    })
                }else if (this.namePortugues === ''){
                    Toast.fire({
                        title: "Verificar",
                        text: "El campo Nombre en portugues se encuentra vació",
                        icon: "warning"
                    })
                }else{
                    this.upsertAction()
                }
            },
            newCar () {
                window.location = "/car/create";
            },
            searchOnTable () {
                this.table = searchByName(this.cars, this.search)
            },
            clearAction(){
                this.nameEspanish = ""
                this.nameEnglish = ""
                this.namePortugues = ""
                this.observacion = ""
                this.idAccion = ""
            },
            upsertAction(){
                var controls = {
                    accionES: this.nameEspanish,
                    accionEN: this.nameEnglish,
                    accionPT: this.namePortugues,
                    observacion: this.observacion,
                    idAccion: this.idAccion,
                }
                axios.post('../../upsertAccion',{
                    controls: controls
                })
                .then((response) => {
                    if (this.idAccion != 0) {
                        this.list.map((data) => {
                            if (data.idAccion === this.idAccion) {
                                data.accionES = this.nameEspanish
                                data.accionEN = this.nameEnglish
                                data.accionPT = this.namePortugues
                                data.observacion = this.observacion                     
                            }
                        })
                    } else {
                        controls['idAccion'] = response.data
                        this.list.push(controls)
                    }
                    Toast.fire({
                        title: "¡Información Guardada!",
                        icon: "success",
                        timer: 3000
                    })
                    $('html, body').animate({scrollTop: $(window).height()}, 600)
                })
                .catch(function(error){
                    Toast.fire({
                        title: "¡Error!",
                        text: 'Occurio un error al intentar guardar la información',
                        icon: "error",
                        timer: 3000
                    })
                })
            },
            updateAction(key){
                this.nameEspanish = this.actions[key]['accionES']
                this.nameEnglish = this.actions[key]['accionEN']
                this.namePortugues = this.actions[key]['accionPT']
                this.observacion = this.actions[key]['observacion']
                this.idAccion = this.actions[key]['idAccion']
                $('html, body').animate({scrollTop: 0}, 600)
            },
            deleteAction(id,key){
                axios.post('../../deleteAccion',{
                    id: id
                })
                .then((response) => {
                    Toast.fire({
                        title: "Registro Eliminado",
                        text: "El registro fue eliminado satisfactoriamente",
                        icon: "info",
                    })
                    this.list.splice(key,1)
                })
                .catch(function(error){
                    Toast.fire({
                        title: "¡Error!",
                        text: 'Occurio un error al intentar guardar la información',
                        icon: "error",
                        timer: 3000
                    })
                })
            },
            downloadAction() {
                location.href = "../../exportTable/accion";
            },
        },
        created () {
            this.table = this.cars
        }
    }
</script>
