<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <md-card>
                    <md-card-header>
                        <div class="md-title">Elemento a calcular</div>
                    </md-card-header>
                    <md-card-content>
                        <md-field>
                            <label>Elemento</label>
                            <md-textarea v-model="JSON.stringify(element)"></md-textarea>
                        </md-field>
                        <span>Si se va a cambiar el arreglo por favor hacerlo directamente en el atributo del componente LogicaComponent.vue</span>
                    </md-card-content>
                    <md-card-actions>
                        <md-button class="md-raised md-primary" @click="changeElement()">Calcular</md-button>
                    </md-card-actions>
                </md-card>  
            </div>
            <div class="col-md-6">
                <md-card>
                    <md-card-header>
                        <div class="md-title">Nuevo elemento</div>
                    </md-card-header>
                    <md-card-content>
                        {{ newElement }}
                    </md-card-content>
                </md-card>
            </div>
        </div>
    </div>
</template>
<script>
    export default {
        data: function() {
            return {
                element: [['2018-12-01','AM','ID123', 5000], ['2018-12-01','AM','ID545', 7000], ['2018-12-01','PM','ID545', 3000], ['2018-12-02','AM','ID545', 7000]],
                newElement: []
            }
        },
        methods: {
            changeElement(){
                var array = []
                var element = new Object()
                $.each(this.element, (key, val) => {
                    var object = new Object();
                    if (array.includes(val[0])) {
                        console.log('Ya exite esta fecha en el elemento')
                    } else {
                        array.push(val[0])
                        var suma = 0;
                        var suma2 = 0;
                        $.each(this.element, (key2, val2) => {
                            if (val2[0] === val[0]) {
                                if (val2[1] === val[1]) {
                                    suma = suma+val2[3]
                                    object[val2[1]] = suma
                                } else {
                                    suma2 = suma2+val2[3]
                                    object[val2[1]] = suma2
                                }
                            }
                        });
                        element[val[0]] = object;
                    }
                });
                this.newElement = element
            }
        },    
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
