
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Material
@import '~vue-material/dist/vue-material.min.css';
@import '~vue-material/dist/theme/default.css';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.newSect {
	margin-bottom: 20px;
	margin-top: 20px;
}
a {
	text-decorate: none;
}
#table_car td p {
	text-transform: lowercase !important;
}
.mayus{
	text-transform: uppercase !important;
}
#table_car td p::first-letter{
	text-transform: uppercase !important;
}
#table_client td p {
	text-transform: lowercase !important;
}
#table_client td p::first-letter{
	text-transform: uppercase !important;
}
.jm-loadingpage {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 999999999;
	background: url('https://gerentedenegocios.info/capturador/EstrenarVivienda/Oportunidades/Formulario/img/Cargue.gif') center no-repeat #fff;
}